<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Option</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tour_option.css') }}">
</head>
<body>
    {% if username %}
    <header>
        <div>
            <span>{{ username }}</span>
            <span> | </span>
            <button onclick="redirectToMain()">Main</button>
            <button onclick="redirectToLogout()">Logout</button>
        </div>
    </header>
    {% else %}
    <header>
        <div>
            <span>{{ username }}</span>
            <span> | </span>
            <button onclick="redirectToMain()">Main</button>
            <button onclick="redirectToLogin()">Login</button>
        </div>
    </header>
    {% endif %}
    <h1>Drumul recomandat:</h1>
    <ul>
        {% for index in range(places|length) %}
            <li>
                {{ places[index]}}: <!-- Display the place name -->
                <img src="{{ images[index] }}" alt="{{ places[index] }} image">
            </li>
        {% endfor %}
    </ul>

    <script>
        function redirectToLogout() {
            // Redirect to /logout
            window.location.href = "http://127.0.0.1:5002/logout";
        }
        function redirectToLogin() {
            // Redirect to /logout
            window.location.href = "http://127.0.0.1:5002/login";
        }
        function redirectToMain() {
            window.location.href = "http://127.0.0.1:5002";
        }
    </script>
</body>
</html>
