<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Option</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tour_option.css') }}">
</head>
<body>
    <h1>Drumul recomandat:</h1>
    <ul>
        {% for index in range(places|length) %}
            <li>
                {{ places[index]}}: <!-- Display the place name -->
                <img src="{{ images[index] }}" alt="{{ places[index] }} image">
            </li>
        {% endfor %}
    </ul>
</body>
</html>
