<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detalii pentru intersectii</title>
</head>
<body>
    {% if username %}
    <header>
        <div>
            <span>{{ username }}</span>
            <span> | </span>
            <button onclick="redirectToMain()">Main</button>
            <button onclick="redirectToLogout()">Logout</button>
        </div>
    </header>
    {% else %}
    <header>
        <div>
            <span>{{ username }}</span>
            <span> | </span>
            <button onclick="redirectToMain()">Main</button>
            <button onclick="redirectToLogin()">Login</button>
        </div>
    </header>
    {% endif %}
    </header>
    <h1>Detalii pentru {{ name }}</h1>
    <ul>
        {% for predicate, object in results %}
        <li>{{ predicate }}: {{ object }}</li>
        {% endfor %}
    </ul>
</body>
</html>
