<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ plant_name }} Details</title>
</head>
<body>
    <h1>{{ plant_name }} Details</h1>
    <h2>Zone: {{ zone_name }}</h2>

    {% if rdf_data %}
    <h3>Max Subject with Predicates and Objects</h3>
    {% for subject, triples in rdf_data %}
        <p><strong>Subject:</strong> {{ subject }}</p>
        <ul>
            {% for predicate, obj in triples %}
                <li>
                    <strong>{{ predicate }}</strong>: {{ obj }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>No RDF data found for the plant.</p>
{% endif %}

    
    <p><a href="{{ url_for('zone', zone_name=zone_name) }}">Back to Zone</a></p>
</body>
</html>
