<!DOCTYPE html>
<html lang="ro" xmlns="http://www.w3.org/1999/xhtml" xmlns:schema="http://schema.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title property="schema:name">{{ zone_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/zone.css') }}">
</head>
<body>
    {% if username %}
    <header>
        <div>
            <span>{{ username }}</span>
            <span> | </span>
            <button onclick="redirectToMain()">Main</button>
            <button onclick="redirectToLogout()">Logout</button>
        </div>
    </header>
    {% else %}
    <header>
        <div>
            <span>{{ username }}</span>
            <span> | </span>
            <button onclick="redirectToMain()">Main</button>
            <button onclick="redirectToLogin()">Login</button>
        </div>
    </header>
    {% endif %}
    <a href="http://www.w3.org/2000/01/rdf-schema#label"><h1 property="schema:name" typeof="schema:Place">{{ zone_name }}</h1></a>

    <a href="https://www.w3.org/2000/01/rdf-schema#description" ><p property="schema:description">{{ description }}</p></a>

    <ul typeof="schema:ItemList" property="schema:itemListElement" typeof="schema:Plant">
        {% for plant in plants %}
            <li typeof="schema:ListItem">
                <a property="schema:item" href="{{ generate_url(zone_name, 'plant', plant).replace(" ", "%20") }}">{{ plant }}</a>
            </li>
        {% endfor %}
    </ul>
    <script>
        function redirectToLogout() {
            // Redirect to /logout
            window.location.href = "http://127.0.0.1:5002/logout";
        }
        function redirectToLogin() {
            // Redirect to /logout
            window.location.href = "http://127.0.0.1:5002/login";
        }
        function redirectToMain() {
            window.location.href = "http://127.0.0.1:5002";
        }
    </script>
</body>
</html>
