/* tour.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 16px;
    outline: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%; /* Make the button span the full width */
    box-sizing: border-box; /* Ensure padding is included in width */
}

input[type="submit"]:hover {
    background-color: #45a049;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  strong {
    font-size: 20px;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    text-align: right;
    padding: 10px;
  }

  img {
    width: 66.67%; /* Set the width to 66.67% of the original size */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Set display property to block */
    margin-left: auto; /* Set left margin to auto */
    margin-right: auto; /* Set right margin to auto */
}